<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<input class="j_Url" type="text" placeholder="请输入地址" value="http://www.showjoy.com">
<input class="j_Submit" type="submit" value="查询">
<div class="j_results result">
	
</div>

<script type="text/javascript" src="/javascripts/index.js"></script>
{{!-- <script type="text/javascript" src="dist/assets/js/index.min.js"></script> --}}