<style type="text/css">
	.result {
		width: 300px;
		height: 300px;
		text-align: center;
		line-height: 300px;
		background-color: red;
	}
</style>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<input class="j_Url" type="text" placeholder="请输入地址" value="http://www.showjoy.com">
<input class="j_Submit" type="submit" value="查询">
<div class="j_results result">
	
</div>
<script type="text/javascript">
	var $buttonSearch = $('.j_Submit');
	var $inputUrl = $('.j_Url');
	var $boxResult = $('.j_results');
	var canClick = true;
	$buttonSearch.on('click', function () {
		var valUrl = $inputUrl.val();
		var data = {
			url: valUrl
		}
		if (canClick) {
			canClick = false;
			$.ajax({
				dataType: 'json',
				url: '/report',
				type: 'POST',
				data: data,
				success: function (data) {
					console.log(data);
					$boxResult.html(JSON.stringify(data));
					canClick = true;
				}
			})
		}
	})
</script>