<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://cdn1.showjoy.com/assets/sea-modules/core/jquery/1.7.2/jquery.js" ></script>
  </head>
  <body>
    {{{body}}}
    <!--<script src="dist/report.js" charset="utf-8"></script>-->
    <script src="/javascripts/index.js" charset="utf-8"></script>
  </body>

</html>