<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='dist/assets/css/style.min.css' />
    <link rel="stylesheet" type="text/css" href="http://cdn1.showjoy.com/assets/css/portal/reset.css">
    <script src="http://cdn1.showjoy.com/assets/sea-modules/core/jquery/1.7.2/jquery.js" ></script>
    <script type="text/javascript" src="lib/template.js"></script>
    <script type="text/javascript" src="javascripts/global.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>

</html>