<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='dist/assets/css/style.min.css' />
    <script src="http://cdn1.showjoy.com/assets/sea-modules/core/jquery/1.7.2/jquery.js" ></script>
  </head>
  <body>
    {{{body}}}
  </body>

</html>