.url-box {
	// display: block;
	// width: 200px;
	border: 1px solid #ccc;
	min-height: 50px;
	.url-status {
		width: 300px;
		margin: 5px 0;
		border-bottom: 1px dotted #ccc;
		.url-input {
			width: 200px;
		}
		.url-value {
			display: block;
			float: left;
			width: 200px;
		}
	}
}